.gameContainer{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
}

.box{
    border: 2px solid black ;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box:hover{
  background-color: rgb(239, 243, 243);
  transition: 1s;
  
}

.info{
    font-size: 30px;
}

.gameInfo{
    padding: 0px 150px;
}

.imgbox img{
   width: 0px;
   transition: width 1s ease-in-out;
   margin-top: 60px;
}

.br-0{
    border-right: 0;
}

.bt-0{
    border-top: 0;
}

.bl-0{
    border-left: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 23px;
    padding: 1px 18px;
    background: blanchedalmond;
    cursor: pointer;
    border-radius: 7px;
    font-size: 15px;
    font-weight: bold;
}
